@import "../../../node_modules/nvd3/build/nv.d3";
@import "../scss/variables";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.visits-info .row div {
  padding: 0px;
}

.actions .btn {
  font-size: 12px;
  padding: 1px 5px;
}

#datetimepicker, #date-of-birth {
  .input-group {
    width: 100%;
    display: flex !important;
    .input-group-addon {
      padding: .375rem .75rem .375rem .75rem;
    }
  }
}

/**
 * Bootstrap select
 */

.selectpicker.form-control {
  height: auto;
}
